/* Remove rules applied by .biomart .data li */
.network-tabs li.ui-state-default {
        width: auto;
        margin: auto;
}

.network-tabs li.ui-state-default a {
        font-size: 1.2em;
}

text.network-shadow, text.network-text {
        /*font-family: sans-serif, verdana, times new roman, tahoma;*/
        font-size: 1.2em;
        letter-spacing: 0.15em;
        text-anchor: middle;
        shape-rendering: geometricPrecision;
}

text.network-text {
        stroke: #fff;
        fill: #fff;
        stroke-width: 1px;
}

text.network-text:hover {
        stroke: #B3705D;
}

text.network-shadow {
        stroke: #000;
        stroke-width: 5px;
}

.network-edge {
        stroke: #333;
        stroke-width: 1px;
 }

.network-bubble {
        stroke-width: 3;
        stroke: #fff;
        fill: #0A6AF7;
        cursor: move;
}

.zoom-container {
        fill: none;
        pointer-events: all;
        stroke-width: 2;
        stroke: #999999;
}