
text.network-shadow {
        stroke: #fff;
        stroke-width: 3px;
        stroke-opacity: .8;
}

.network-edge {
        stroke: #333;
        stroke-width: 1px;
 }

.network-bubble {
        stroke-width: 3;
        stroke: #fff;
        cursor: move;
}